
.cv-title {
  line-height: 1;
  font-size: 2em;
  margin-bottom: 0;
}

.cv-item p {
  margin: 0;
}

.cv-name .cv-item .cv-content {
  margin-top: 10px;
  margin-bottom: 5px;

  font-size: 28px;
  font-weight: 500;
}

.cv-description .cv-item .cv-content {
  margin-top: 5px;
  margin-bottom: 10px;
}

.cv-section {
  margin-top: 30px;
  margin-bottom: 10px;

  font-size: 30px;
  font-weight: 500;
}

.cv-subsection {
  margin-top: 20px;
  margin-bottom: 0;

  font-size: 22px;
}

.cv-item {
  display: flex;
  justify-content: top;
}

.cv-year {
  min-width: 110px;

  color: #bbb;
}

.cv-teaching .cv-year {
  min-width: 135px;

  color: #bbb;
}

.cv-contact {
  margin-top: 5px;
}

.cv-contact .cv-item {
  display: inline-block;
}

.cv-contact .cv-item a:hover {
  display: inline-block;
  text-decoration: underline;
}

.cv-contact .cv-item:after {
  color: white;
  content: "|";
}

.cv-contact .cv-item:last-child:after {
  content: "";
}

.cv-publications .cv-item {
  display: list-item;
  margin-left: 20px;
}

.cv-presentations .cv-item {
  display: list-item;
  margin-left: 20px;
}

.cv-journals .cv-item {
  display: list-item;
  margin-left: 20px;
}

.cv-activities .cv-item {
  display: list-item;
  margin-left: 20px;
}

.cv-technical-skills .cv-item {
  display: list-item;
  margin-left: 20px;
}
