@font-face {
  font-family: 'Roboto';
  font-style: normal;
  src: local('Roboto Regular'), local('Roboto-Regular'),
    url('../fonts/RobotoMono-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'),
       url('../fonts/Lato-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 500;
  src: local('Lato Bold'), local('Lato-Bold'),
       url('../fonts/Lato-Bold.ttf') format('truetype');
}

body {
  font-family: 'Lato', sans-serif;
}

code {
  font-family: 'Roboto Mono', monospace;
}

pre code {
  font-family: 'Roboto Mono', monospace;
}
