
body {
  margin: 0;
  
  display: flex;
  flex-direction: column;
  
  height: 100vh;
}

/* Main layout */

.row {
  flex: 1 0 auto;
  
  display: flex;
  flex-direction: column;
}

.column-left {
  flex: 0 0 50px;
}

.column-middle {
  flex: 0;
}

.column-right {
  flex: 1;
}

@media (min-width: 860px) { 
  .row {
    flex-direction: row;
  }
  
  .column-left {
    flex: 0 0 150px;
  }
  
  .column-middle {
    flex: 1;
  }
  
  .column-right {
    flex: 0 0 150px;
  }
}

/* Navigation */

.nav {
  margin: 1rem;
  margin-top: 2rem;
}

.nav-list {
  margin: 0;
  padding-left: 2rem;
  list-style-type: none;
}

.nav-item {
  margin-top: 0;
  margin-bottom: 1.5rem;
  text-align: right;
}

.nav-item a {
  font-size: 95%;
  text-decoration: none;
  color: grey;
}

.nav-item a:visited {
  color: gray;
}

.nav-item a:hover {
  color: black;
}

.nav-item-active {
  color: black !important;
  font-weight: 500;
}

.nav-active {
  display: block !important;
}

.nav-toggler {
  background: none;
  border: none;
  cursor: pointer;
  
  margin: 0;
  margin-top: -20px;
  padding: 0;
}

.nav-collapse {
  display: none;
}

@media (min-width: 860px) { 
  .nav {
    width: auto;
  }
  
  .nav-collapse {
    display: block;
  }
  
  .nav-toggler {
    display: none;
  }
}

.burger_bar {
  width: 35px;
  height: 3px;
  background-color: black;
  margin: 8px 0;
}

/* Home */

.container-home {
  display: flex; 
  align-items: center;
  height: 100%;
  
  max-width: 40rem;
  margin: auto;
  
  padding: 1rem;
  line-height: 1.5rem;
}

#image-home {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.container-home main {
  padding-bottom: 4rem;
}

/* Single */

.container-single {
  max-width: 40rem;
  margin: auto;
  
  padding: 1rem;
  padding-top: 0rem;
  line-height: 1.5rem;
}

@media (min-width: 860px) { 
  .container-single {
    padding-top: 1rem;
  }
}

/* Multiple */

.container-list {
  margin: 1rem;
}

@media (min-width: 860px) { 
  .container-list {
    margin: 2rem;
  }
}

/* Posts */

.post a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  font-weight: 500;
}

.post a:visited {
  color: black;
}

.post a:hover {
  color: gray;
}

.tags {
  margin: 1rem;
}

.tag {
  display: inline-block;
}

.tag a {
  text-decoration: none;
  color: #aaa;
  font-size: 0.9rem;
  line-height: 1.5rem;
  font-weight: 400;
}

.tag a:visited {
  color: #aaa;
}

.tag a:hover {
  color: black;
}

@media (min-width: 860px) { 
  .tags {
    margin: 0;
    margin-top: 2rem;
  }
  
  .tag {
    display: block;
  }
}

/* Dates */

.date {
  color: gray;
  font-size: 0.9rem;
  font-weight: normal;
}

.post .date {
  margin-top: 35px;
  margin-bottom: 5px;
}

/* Footer */

footer {
  flex-shrink: 0;
  font-size: 90%;
  text-align: center;
  line-height: 60px;
  color: gray;
}

/* Projects */

.projects {
  width: 90%;
  max-width: 50rem;
  margin: 0 auto;
  margin-top: 0;
  
  display: grid;
   
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
}

@media only screen and (min-width: 560px) {
  .projects {
    margin-top: 2.3rem;  
    grid-template-columns: 1fr 1fr;
  }  
}

@media only screen and (min-width: 1000px) {
  .projects {
    margin-top: 2.3rem;  
    grid-template-columns: 1fr 1fr 1fr;
  }  
}

.project {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.project:hover {
  box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
}

.project a {
  text-decoration: none;
  color: black;
}

.project a:visited {
  color: black;
}

.project-img {
  width: 100%;
}

.project-body {
  padding: 2px 16px;
}

.project-text {
  font-size: 0.95rem;
}

.kurzgesagt-bird {
  padding: 0;
  margin: 0;
}

.kurzgesagt-bird img {
  height: 60px;
  display: inline-block;
  float: left;
  
  margin: 0;
  padding: 0;
}

/* MathJax */

.math {
  
}

/* Code */

pre {
  overflow: auto;
  word-wrap: normal;
  margin: 0 0 1.275em;
  padding: .85em 1em;
  background: #f7f7f7;
}

pre code {
  background: #f7f7f7 !important;
}

code {
  padding: .2em;
  margin: 0;
  font-size: .85em;
  background-color: #f7f7f7;
}

/* Tables */

.table {
  width: 100%;
  border-spacing: 0;
  color: #212529;
}

.table th,
.table td {
  padding: 0.5rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

.table tbody + tbody {
  border-top: 2px solid #dee2e6;
}

/* Blockquotes */

blockquote {
  margin: 0 0 .85em;
  padding: 0 15px;
  opacity: .75;
  border-left: 4px solid #dcdcdc;
}