{{ partial "header.html" . }}
	<div class="column-middle">
		<div class="container-list" >
			<div class="projects">	
				{{ $pages := .Pages }}
				{{ if .IsHome }}{{ $pages = .Site.RegularPages }}{{ end }}
				{{ range (where $pages "Section" "!=" "") }}
				<div class="project">
					<a href="{{ .RelPermalink }}">
					<img class="project-img" src="{{ .Param "image" | relURL }}" alt="Project image">
					<div class="project-body">
						<h3 class="project-title">{{ .Title | markdownify }}</h3>
					    <p class="project-text">{{ .Param "description" | markdownify }}</p>
					</div>
					</a>
				</div>
				{{ end }}
			</div>
		</div>
	</div>
	
	<div class="column-right">
	</div>
</div>

{{ partial "footer.html" . }}
